<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary mt-2">
    <div class="container position-relative justify-content-center" title="Barrie Weather">
        <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="{{url_for('index')}}">
            <img src="{{url_for('static', filename='/images/barrieWeather.png')}}" style="height: 32px; width: 32px;" alt="Logo"> Barrie Weather
        </a>
    </div>
</nav>